
<h3 class="font-weight-bold"> Productos</h3>
<div class="row">
  <ng-container *ngFor="let produ of productos">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          {{produ.nombre}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{produ.detalle}}Detalleeeeee</h5>
          <p class="card-text">${{produ.precio}}</p>
          <a routerLink="/catalogo/detalle{{prodId}}" class="btn btn-primary">Ver detalle</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>